* {
    box-sizing: border-box;
}

.persons {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.person {
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width: 47%;
    color: #333;
    flex-basis: width;
    background-color: rgb(98, 184, 234);
}

.person li {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.person h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
}

.person h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.person p {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.2 rem;
    color: white;
}
.details {
    text-align: left;
}
